.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}